In [1]:
people = {
    'first' : ['Corey', 'Jane', 'John'],
    'last' : ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@gamil.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gamil.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [4]:
df.columns = ['first_name', 'last_name', 'email']

In [5]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME LAST_NAME                   EMAIL
0      Corey   Schafer  CoreySchafer@gamil.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [6]:
df.columns = df.columns.str.replace('_', ' ')
df

  FIRST NAME LAST NAME                   EMAIL
0      Corey   Schafer  CoreySchafer@gamil.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [8]:
df.columns = [x.lower() for x in df.columns]
df

  first name last name                   email
0      Corey   Schafer  CoreySchafer@gamil.com
1       Jane       Doe       JaneDoe@gmail.com
2       John       Doe       JohnDoe@gmail.com

In [11]:
df.rename(columns={'first name':'first', 'last name':'last', 'email':'email'}, inplace=True)
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gamil.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [12]:
df.loc[2] = ['John', 'Smith', 'JohnSmith@gmail.com']
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gamil.com
1   Jane      Doe       JaneDoe@gmail.com
2   John    Smith     JohnSmith@gmail.com

In [13]:
df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@gmail.com']
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gamil.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [14]:
df.loc[2, 'email']

'JohnDoe@gmail.com'