# Fictitious Names

**This time you will create a data again**

Special thanks to Chris Albon for sharing the dataset and materials. All the credits to this exercise belongs to him.

In order to understand about it 'https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/'

In [2]:
# Step 1: Import libraies
import pandas as pd
import numpy as np

In [6]:
# Step 2. Create the 3 DataFrames based on the following raw data

raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

df1 = pd.DataFrame(raw_data_1, columns=['subject_id', 'first_name', 'last_name'])

df2 = pd.DataFrame(raw_data_2, columns=['subject_id', 'first_name', 'last_name'])

df3 = pd.DataFrame(raw_data_3, columns=['subject_id', 'test_id'])
df1, df2, df3

(  subject_id first_name last_name
 0          1       Alex  Anderson
 1          2        Amy  Ackerman
 2          3      Allen       Ali
 3          4      Alice      Aoni
 4          5     Ayoung   Atiches,
   subject_id first_name last_name
 0          4      Billy    Bonder
 1          5      Brian     Black
 2          6       Bran   Balwner
 3          7      Bryce     Brice
 4          8      Betty    Btisan,
   subject_id  test_id
 0          1       51
 1          2       15
 2          3       15
 3          4       61
 4          5       16
 5          7       14
 6          8       15
 7          9        1
 8         10       61
 9         11       16)