In [1]:
# 1. Example 1
#importing pandas in our program
import pandas as pd

# Defining a series object
srs = pd.Series([11.9, 36.0, 16.6, 21.8, 34.2], index = ['China', 'India', 'USA', 'Brazil', 'Pakistan'])

# Set Series name
srs.name = "Growth Rate"

# Set index name
srs.index.name = "Country"

# printing series values
print("The Indexed Series values are:")
print(srs)

The Indexed Series values are:
Country
China       11.9
India       36.0
USA         16.6
Brazil      21.8
Pakistan    34.2
Name: Growth Rate, dtype: float64

In [2]:
# 2. Select entries from a Series
import numpy as np
import pandas as pd

srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)

print("\nSeries element at index ind3:")
print(srs['ind3']) # Fetch element at index named ind3

print("\nSeries element at index 3:")
print(srs[3]) # Fetch element at index 3

print("\nSeries elements at multiple indexes:\n")
print(srs[['ind1', 'ind4']]) # Fetch elements at multiple indexes

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int64

Series element at index ind3:
3

Series element at index 3:
3

Series elements at multiple indexes:

Index
ind1    1
ind4    4
dtype: int64

In [3]:
# 3. Drop entries from a Series
srs = pd.Series(np.arange(0, 6, 1), index = ['ind0', 'ind1', 'ind2', 'ind3', 'ind4', 'ind5'])
srs.index.name = "Index"
print("The original Series:\n", srs)

srs = srs.drop('ind2') # drop index named ind2

print("The New Series:\n", srs)

The original Series:
 Index
ind0    0
ind1    1
ind2    2
ind3    3
ind4    4
ind5    5
dtype: int64
The New Series:
 Index
ind0    0
ind1    1
ind3    3
ind4    4
ind5    5
dtype: int64

In [7]:
# 4. Create dataframe from set of Series
data = {
    'peppers': [3, 2, 0, 1], 
    'carrots': [0, 3, 7, 2],
    'brinjal': [0, 3, 7, 2],
    'tomato': [0, 3, 7, 2]
}

quantity = pd.DataFrame(data)

quantity

   peppers  carrots  brinjal  tomato
0        3        0        0       0
1        2        3        3       3
2        0        7        7       7
3        1        2        2       2

In [8]:
quantity = pd.DataFrame(data, index=['Jan', 'Feb', 'Mar', 'Apr'])
quantity

     peppers  carrots  brinjal  tomato
Jan        3        0        0       0
Feb        2        3        3       3
Mar        0        7        7       7
Apr        1        2        2       2

In [9]:
veg = pd.DataFrame(quantity, columns=['carrots', 'brinjal', 'tomato'])
veg

     carrots  brinjal  tomato
Jan        0        0       0
Feb        3        3       3
Mar        7        7       7
Apr        2        2       2