In [3]:
import pandas as pd
from sklearn.datasets import load_digits
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
digits_df = load_digits()
dir(digits_df)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [8]:
digits_df.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [7]:
digits_df.feature_names

['pixel_0_0',
 'pixel_0_1',
 'pixel_0_2',
 'pixel_0_3',
 'pixel_0_4',
 'pixel_0_5',
 'pixel_0_6',
 'pixel_0_7',
 'pixel_1_0',
 'pixel_1_1',
 'pixel_1_2',
 'pixel_1_3',
 'pixel_1_4',
 'pixel_1_5',
 'pixel_1_6',
 'pixel_1_7',
 'pixel_2_0',
 'pixel_2_1',
 'pixel_2_2',
 'pixel_2_3',
 'pixel_2_4',
 'pixel_2_5',
 'pixel_2_6',
 'pixel_2_7',
 'pixel_3_0',
 'pixel_3_1',
 'pixel_3_2',
 'pixel_3_3',
 'pixel_3_4',
 'pixel_3_5',
 'pixel_3_6',
 'pixel_3_7',
 'pixel_4_0',
 'pixel_4_1',
 'pixel_4_2',
 'pixel_4_3',
 'pixel_4_4',
 'pixel_4_5',
 'pixel_4_6',
 'pixel_4_7',
 'pixel_5_0',
 'pixel_5_1',
 'pixel_5_2',
 'pixel_5_3',
 'pixel_5_4',
 'pixel_5_5',
 'pixel_5_6',
 'pixel_5_7',
 'pixel_6_0',
 'pixel_6_1',
 'pixel_6_2',
 'pixel_6_3',
 'pixel_6_4',
 'pixel_6_5',
 'pixel_6_6',
 'pixel_6_7',
 'pixel_7_0',
 'pixel_7_1',
 'pixel_7_2',
 'pixel_7_3',
 'pixel_7_4',
 'pixel_7_5',
 'pixel_7_6',
 'pixel_7_7']

In [9]:
df = pd.DataFrame(digits_df.data, columns=digits_df.feature_names)
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_6,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [10]:
df['target'] = digits_df.target
df.head()

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

In [11]:
X = df.drop('target', axis=1)
y = df['target']

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [13]:
from sklearn.svm import SVC

In [15]:
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(kernel='linear')

In [16]:
model.score(X_test, y_test)

0.9805555555555555

In [17]:
y_pred = model.predict(X_test)
y_pred

array([2, 1, 6, 5, 9, 6, 0, 2, 1, 7, 4, 7, 7, 5, 5, 1, 0, 3, 0, 8, 4, 5,
       6, 0, 2, 8, 3, 5, 5, 9, 3, 3, 7, 7, 9, 4, 0, 4, 5, 2, 8, 3, 0, 3,
       6, 2, 6, 8, 4, 3, 2, 9, 6, 8, 9, 7, 1, 6, 2, 2, 8, 9, 7, 5, 9, 1,
       7, 9, 0, 4, 7, 2, 3, 2, 4, 8, 6, 4, 3, 4, 5, 5, 6, 3, 0, 4, 7, 6,
       0, 3, 9, 2, 8, 8, 2, 0, 9, 3, 0, 6, 0, 1, 1, 7, 3, 3, 2, 3, 6, 9,
       5, 4, 6, 0, 5, 8, 3, 6, 0, 9, 7, 7, 2, 5, 5, 9, 8, 7, 9, 5, 8, 4,
       6, 5, 0, 5, 2, 6, 7, 5, 7, 0, 3, 8, 4, 8, 5, 7, 5, 7, 3, 1, 6, 3,
       0, 5, 2, 9, 5, 4, 5, 3, 2, 1, 7, 3, 3, 8, 3, 3, 5, 4, 6, 3, 4, 7,
       3, 5, 6, 5, 5, 3, 3, 6, 6, 5, 5, 1, 9, 7, 0, 4, 9, 0, 8, 8, 7, 6,
       4, 3, 0, 1, 5, 4, 2, 6, 3, 1, 5, 1, 7, 0, 0, 3, 9, 8, 4, 1, 6, 5,
       9, 9, 2, 6, 8, 7, 2, 9, 4, 9, 4, 3, 2, 3, 1, 7, 0, 4, 3, 8, 0, 9,
       9, 3, 8, 9, 8, 6, 9, 2, 0, 1, 6, 0, 3, 3, 1, 2, 9, 7, 5, 3, 7, 0,
       9, 5, 4, 2, 0, 7, 6, 0, 4, 9, 3, 6, 1, 8, 3, 9, 5, 5, 7, 9, 9, 5,
       9, 0, 2, 1, 0, 8, 6, 9, 5, 6, 4, 1, 2, 7, 4, 5, 2, 1, 3, 9, 1, 5,
       4, 2, 5, 2, 1, 3, 4, 5, 9, 9, 7, 1, 9, 2, 8, 6, 8, 2, 0, 1, 5, 4,
       4, 3, 1, 0, 9, 1, 4, 8, 8, 8, 9, 9, 0, 3, 2, 5, 1, 9, 7, 2, 8, 3,
       8, 6, 5, 1, 9, 6, 2, 7])

In [19]:
# Compare the output with Samples
output = pd.DataFrame(y_test[0:10])
output['predicted'] = y_pred[0:10]
#output['difference'] = output['predicted'] - output['class']
print(output,"\n")

      target  predicted
1234       2          2
952        1          1
1601       6          6
1486       5          5
203        9          9
843        6          6
1283       0          0
437        2          2
606        1          1
368        7          7

In [20]:
model = SVC(kernel='rbf')
model.fit(X_train, y_train)

SVC()

In [21]:
model.score(X_test, y_test)

0.9944444444444445