In [1]:
# Import libraries
import pandas as pd
import numpy as np

In [2]:
# read the data from url

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [3]:
# View first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
# to view the dataframe details
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [5]:
# Get the shape of the dataframe
chipo.shape

(4622, 5)

In [6]:
# Print the column details in the dataframe
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [7]:
# To find the start and end of the index values
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
# To find the most ordered item details
chipo.groupby(['item_name']).agg({'quantity':'sum'}).sort_values('quantity', ascending=False)
#chipo.head()

                                       quantity
item_name
Chicken Bowl                                761
Chicken Burrito                             591
Chips and Guacamole                         506
Steak Burrito                               386
Canned Soft Drink                           351
Chips                                       230
Steak Bowl                                  221
Bottled Water                               211
Chips and Fresh Tomato Salsa                130
Canned Soda                                 126
Chicken Salad Bowl                          123
Chicken Soft Tacos                          120
Side of Chips                               110
Veggie Burrito                               97
Barbacoa Burrito                             91
Veggie Bowl                                  87
Carnitas Bowl                                71
Barbacoa Bowl                                66
Carnitas Burrito                             60
Steak Soft Tacos                             56
6 Pack Soft Drink                            55
Chips and Tomatillo Red Chili Salsa          50
Chicken Crispy Tacos                         50
Chips and Tomatillo Green Chili Salsa        45
Carnitas Soft Tacos                          40
Steak Crispy Tacos                           36
Chips and Tomatillo-Green Chili Salsa        33
Steak Salad Bowl                             31
Nantucket Nectar                             29
Chips and Tomatillo-Red Chili Salsa          25
Barbacoa Soft Tacos                          25
Chips and Roasted Chili Corn Salsa           23
Izze                                         20
Veggie Salad Bowl                            18
Chips and Roasted Chili-Corn Salsa           18
Barbacoa Crispy Tacos                        12
Barbacoa Salad Bowl                          10
Chicken Salad                                 9
Carnitas Crispy Tacos                         8
Veggie Soft Tacos                             8
Burrito                                       6
Veggie Salad                                  6
Carnitas Salad Bowl                           6
Bowl                                          4
Steak Salad                                   4
Salad                                         2
Crispy Tacos                                  2
Chips and Mild Fresh Tomato Salsa             1
Carnitas Salad                                1
Veggie Crispy Tacos                           1

In [9]:
# To find the most ordered item and its total order value
chipo.groupby(['item_name']).sum().sort_values('quantity', ascending=False)

                                       order_id  quantity
item_name
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chips and Guacamole                      449959       506
Steak Burrito                            328437       386
Canned Soft Drink                        304753       351
Chips                                    208004       230
Steak Bowl                               193752       221
Bottled Water                            175944       211
Chips and Fresh Tomato Salsa             100419       130
Canned Soda                               76396       126
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Side of Chips                             84769       110
Veggie Burrito                            80962        97
Barbacoa Burrito                          74718        91
Veggie Bowl                               72270        87
Carnitas Bowl                             62742        71
Barbacoa Bowl                             53972        66
Carnitas Burrito                          51652        60
Steak Soft Tacos                          50177        56
6 Pack Soft Drink                         52322        55
Chips and Tomatillo Red Chili Salsa       45556        50
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Green Chili Salsa     41170        45
Carnitas Soft Tacos                       37673        40
Steak Crispy Tacos                        35818        36
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Salad Bowl                          29590        31
Nantucket Nectar                          21814        29
Chips and Tomatillo-Red Chili Salsa       18344        25
Barbacoa Soft Tacos                       18725        25
Chips and Roasted Chili Corn Salsa        14999        23
Izze                                      10587        20
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Chicken Salad                             10465         9
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Burrito                                    1550         6
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Bowl                                        472         4
Steak Salad                                2362         4
Salad                                      1150         2
Crispy Tacos                                434         2
Chips and Mild Fresh Tomato Salsa           279         1
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1

In [10]:
# Most ordered item in the choice description
chipo.groupby(['choice_description']).agg({'quantity':'sum'}).sort_values('quantity', ascending=False)

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        40
[Lemonade]                                                36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice,...        36
[Coca Cola]                                               32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream,...        30
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]         30
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]             26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]          24
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        23
[Fresh Tomato Salsa, Rice]                                22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]           22
[Roasted Chili Corn Salsa, [Rice, Black Beans, ...        21
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        21
[Dr. Pepper]                                              21
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...        21
[Tomatillo Red Chili Salsa, [Rice, Cheese, Lett...        20
[Nestea]                                                  20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...        20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour...        20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...        19
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...        19
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, ...        19
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...        18
[Tomatillo Red Chili Salsa, [Rice, Black Beans,...        18
...                                                      ...
[Roasted Chili Corn Salsa, [Rice, Cheese, Sour ...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Rice, Fajita Vegeta...         1
[Roasted Chili Corn Salsa, [Pinto Beans, Cheese...         1
[Roasted Chili Corn Salsa, [Lettuce, Cheese]]              1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Lettuce, Black Bean...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...         1

[1043 rows x 1 columns]

In [11]:
# To find the total orders
chipo['quantity'].sum()

4972

In [12]:
chipo['item_price'].dtype

dtype('O')

In [13]:
chipo['item_price'] = chipo['item_price'].str.slice(1).astype(float)

In [14]:
chipo['item_price'].dtype

dtype('float64')

In [16]:
# Find the revenue for the dataset on the particular period
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [17]:
print(f"Total Revenue: {sum(chipo['quantity'] * chipo['item_price'])}")

Total Revenue: 39237.020000000055

In [18]:
#Total number of order made
chipo.order_id.count()

4622

In [19]:
# Total number of products sold
chipo.quantity.sum()

4972

In [20]:
# Average revenue value per order
#Solution 1
chipo.item_price.sum() / chipo.order_id.count()

7.464335785374297

In [21]:
#Solution 2
chipo.item_price.mean()

7.464335785374397

In [22]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
6,3,1,Side of Chips,NaN,1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",9.25

In [24]:
# Ti find the total number of items from the data set
len(chipo.item_name.unique())

50

In [25]:
chipo.loc[105]

order_id                                     46
quantity                                      1
item_name                      Nantucket Nectar
choice_description    [Pineapple Orange Banana]
item_price                                 3.39
Name: 105, dtype: object

In [28]:
# To view the index details of the dataset
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [29]:
# To find the 19th location's item name
chipo.loc[19].item_name

'Chicken Bowl'